@use "../custom" as *;
@use "../utils/mixins" as m;

.planes{
    h2{
        @include m.headingBorder($white,$primary);
    }
}
.card{
    &:hover{
        transform: scale(1.2);
        transition: transform 300ms ease-out;
        
    }
    padding: 5rem 0;
    img{
        width: 30rem;
        margin: 0 auto;
    }
    .btn-negocio{
        border: solid 1px $white;
    }
   
}